.footer {
	height: auto;
	margin: auto;
	background-color: #333;
	color: #fff;
  margin-top: 20%;
}
.footer .copyright {
	background-color: #1f1f1f;
	color: #888;
	font-size: 10px;
}
.footer .copyright a {
	color: #f39200;
	font-size: 9px;
}
.footer h6 {
	color: #888 !important;
}
